<roundcube:include file="/includes/layout.html" />

<div class="print-content formcontent" role="main">
	<div class="contact-header">
		<div id="contactphoto" class="contact-photo">
			<roundcube:object name="contactphoto" id="contactpic" placeholder="/images/contactpic.png"
				placeholderGroup="/images/contactgroup.png" />
		</div>
		<roundcube:object name="contacthead" id="contacthead" class="contact-head readonly" with-source="true" />
	</div>
	<div id="contacttabs">
		<roundcube:object name="contactdetails" fieldset-class="propform groupped readonly"
			short-legend-labels="true" />
	</div>
</div>

<roundcube:include file="/includes/footer.html" />
