<roundcube:include file="/includes/layout.html" />

<h1 class="voice"><roundcube:label name="addressbook" /> : <roundcube:label name="importcontacts" /></h1>

<div class="formcontent">
	<roundcube:object name="importstep" class="propform" />
</div>

<roundcube:include file="/includes/footer.html" />
