<roundcube:include file="/includes/layout.html" />

<h1 class="voice"><roundcube:object name="steptitle" /></h1>

<div class="formcontent">
	<roundcube:object name="identityform" class="propform" size="40" textareacols="40" textarearows="6" />
</div>

<div class="formbuttons">
	<roundcube:button command="save" class="btn btn-primary submit" label="save" condition="!env:readonly" />
</div>

<roundcube:include file="/includes/footer.html" />
